@import "../../index.scss";

.widthnheight {
  width: 100vw;
  height: 100vh;
}

.portfolio {
  @extend .widthnheight;
  position: relative;
  background-color: #000000;

  .welcome_section {
    @extend .section_reset;
    @extend .zposition;
    @include flex(center, center, row, 0);
    @extend .widthnheight;
    color: whitesmoke;
    overflow: hidden;
  }

  .about_me {
    @extend .section_reset;
    @extend .zposition;
    @extend .widthnheight;
    overflow-x: hidden;
  }

  .skills_section {
    @extend .section_reset;
    @extend .zposition;
    @extend .widthnheight;
    overflow-x: hidden;
  }

  .project_section {
    @extend .section_reset;
    @extend .zposition;
    @extend .widthnheight;
    overflow-x: hidden;
  }

  .footer_sec {
    @extend .section_reset;
    @extend .zposition;
    height: 8vh;
    overflow-x: hidden;
  }
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}
// ******  CANVAS
