@import "../../index.scss";

.my_skills_intro {
  width: 40vw;
  $border-margin: var(--border-margin);
  position: absolute;
  right: 6vw;
  top: 35vh;
  color: whitesmoke;

  .skills_container {
    @include flex(flex-start, flex-start, column, 1em);

    .intro_skills_titleOne {
      top: -80%;
      right: 8vw;
      color: transparent;
      font-size: calc(var(--ft) * 5);

      &::after {
        content: "FULL";
        position: absolute;
        left: 2%;
        top: -2.6%;
        clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
        opacity: 0.6;
      }
      &::before {
        content: "FULL";
        position: absolute;
        left: 0%;
        top: -3.5%;
        opacity: 0.4;

        clip-path: polygon(0 0, 100% 0%, 0% 100%);
      }
    }
    .intro_skills_titleTwo {
      top: -50%;
      right: 5%;
      color: transparent;
      font-size: calc(var(--ft) * 5);

      &::after {
        content: "STACK";
        position: absolute;
        left: 2%;
        top: -5.6%;
        font-size: calc(var(--ft) * 5);
        clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
        -webkit-text-stroke-color: rgb(255, 255, 255);
        opacity: 0.3;
      }
      &::before {
        content: "STACK";
        position: absolute;
        left: 0%;
        top: -10%;
        font-size: calc(var(--ft) * 5);
        clip-path: polygon(0 0, 100% 0%, 0% 100%);
        -webkit-text-stroke-color: rgb(253, 253, 253);
        opacity: 0.3;
        z-index: 100;
      }
    }

    h1 {
      color: transparent;
      font-size: calc(var(--ft) * 5);
      position: absolute;
    }
  }

  .stacks_list {
    @include flex(flex-start, flex-start, row, 2em);
  }
}

.stack_skill {
  @include flex(flex-start, flex-start, column, 1em);
}

.single_skill {
  @include flex(flex-start, flex-start, row, 1em);
  font-size: calc(var(--ft) * 1.5);
}
