@import "../../index.scss";

.copyright {
  text-align: center;
  font-family: var(--mono-font);
  color: var(--regent-gray);
  font-size: var(--ft-sm);
}

.scrollup {
  position: absolute;
  bottom: 20%;
  right: 0%;
  width: 100%;
  height: 10vh;
  font-size: var(--ft-2xtra);

  a {
    color: var(--ocean-blue);
    position: absolute;
    right: 0;
  }
}
