@import "../../index.scss";

.foot_sec {
  position: absolute;
  border-top: solid 1px whitesmoke;
  width: 90vw;
  height: inherit;
  left: 5vw;
  padding-top: 0.5em;
  @include flex(space-between, center, row, 1em);
  .foot_one {
    @include flex(flex-start, center, row, 0);
    color: whitesmoke;

    p {
      font-size: 0.9em;
    }

    .email {
      color: var(--clorange);
    }
  }

  .line_break {
    margin: 0 1em;
  }

  .foot_icon {
    margin-right: 0.5em;
    vertical-align: bottom;
    font-size: 1.2em;
  }

  .social_ics {
    width: 10vw;
    @include flex(space-between, center, row, 0);
    font-size: 1.4rem;
  }

  .social a {
    color: whitesmoke;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: var(--clorange);
      transform: scale(1.2);
    }
  }
}
