@import "../../index.scss";

.logo_name {
  color: whitesmoke;
  padding: 1em;
  position: fixed;
  top: 2em;
  left: 2em;
  @include zIndexTop;

  .logoname_title {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .logoname_subtitle {
    font-size: 0.7rem;
    margin-top: 5px;
    letter-spacing: 0.3px;
  }
}

.navigation_bar {
  width: 100vw;
  position: relative;

  .instruction {
    color: whitesmoke;
    position: absolute;
    z-index: 100;
    right: 3vw;
    top: 4vh;
    @include flex(center, center, row, 0.5em);

    .circle {
      vertical-align: bottom;
      position: absolute;
      left: -25px;
      bottom: -2.5px;
    }
  }
}
